page-object-help {

ion-scroll {height: 2000px;}

// ion-content {width: 600px !important; max-width: 90% !important; height: 400px;}

//p {width: 600px !important; max-width: 90% !important; height: 200px;}

//p {width: 300px; height: 500px;}

}
