<!--
  Generated template for the CoreMetadata page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar>
    <!-- <ion-title *ngIf="readOnly">Core Metadata for Model: <br> -->
    <!-- Dropped "Core" to fit better on iPhone (IonicView) -->
    <ion-title *ngIf="readOnly">Metadata for Model: <br>
      <font ion-text color="primary"> {{modelInfo.name}} </font>
    </ion-title>
    <ion-buttons *ngIf="readOnly" end>
      <div> <font ion-button color="primary" (click)="toggleReadOnly()">Edit</font> </div>
    </ion-buttons>
    <!--
    <ion-buttons end>
      <button ion-button color="primary" outline small (click)="toggleReadOnly()">Edit</button>
    </ion-buttons>
    -->
  <!-- =============================================================== -->
    <ion-title *ngIf="!(readOnly)">Metadata for Model: <br>
      <font ion-text color="primary"> New Model </font>
    </ion-title>
  </ion-navbar>

</ion-header>


<!-- <ion-content padding> -->
<ion-content>

<!-- The FORM tag causes trouble here. -->
<!-- <form *ngIf="!(readOnly)" (ngSubmit)="printModelInfo()"> -->
<!-- <form *ngIf="!(readOnly)"> -->
<!-- =========================================================================== -->
<!--  NOTES:                                                                     -->
<!--  (1) The ion-input tag responds to a "readonly" boolean that does not       -->
<!--      change the opacity.  However, readonly="{{!editable}} is not allowed.  -->
<!--      -->
<!--  (2) The ion-input tag also responds to a "disabled" boolean that DOES      -->
<!--      change the opacity, and its opacity cannot be changed with CSS.        -->
<!--      UPDATE:  Found a way to change opacity;  see SCSS file.                -->
<!--      -->
<!--  (3) The ion-select tag responds to a "disabled" boolean that DOES          -->
<!--      change the opacity, but its opacity can be changed with CSS.           -->
<!--      -->
<!--  (4) Because of these facts, we must use ngIf to get desired effect.        -->
<!-- =========================================================================== -->
<ion-list>
  <!-- =============================================================== -->
  <ion-item *ngIf="!(readOnly)" margin-bottom="-10px">
    <ion-label color="primary" fixed>Model name:</ion-label>
    <ion-input type="text" [(ngModel)]="modelInfo.name" name="name"> </ion-input>
  </ion-item>
  <!-- =============================================================== -->
  <ion-item *ngIf="(readOnly)">
    <ion-label color="primary" fixed>Version:</ion-label>
    <ion-input disabled="{{!editable}}" value={{modelInfo.version}}> </ion-input>
  </ion-item>

  <ion-item *ngIf="!(readOnly)">
    <ion-label color="primary" fixed>Version:</ion-label>
    <ion-input type="text" [(ngModel)]="modelInfo.version" name="version"> </ion-input>
  </ion-item>
  <!-- =============================================================== -->
  <ion-item *ngIf="readOnly">
    <ion-label color="primary" fixed>Authors:</ion-label>
    <ion-input readonly value={{modelInfo.authors}}> </ion-input>
  </ion-item>

  <ion-item *ngIf="!(readOnly)">
    <ion-label color="primary" fixed>Authors:</ion-label>
    <ion-input type="text" [(ngModel)]="modelInfo.authors" name="authors"> </ion-input>
  </ion-item>
  <!-- =============================================================== -->
  <ion-item *ngIf="readOnly">
    <ion-label color="primary" fixed>Released:</ion-label>
    <ion-input readonly value={{modelInfo.released}}> </ion-input>
  </ion-item>

  <ion-item *ngIf="!(readOnly)">
    <ion-label color="primary" fixed>Released:</ion-label>
    <ion-input type="text" [(ngModel)]="modelInfo.released" name="released"> </ion-input>
  </ion-item>
  <!-- =============================================================== -->
  <ion-item *ngIf="readOnly">
    <ion-label color="primary" fixed>Email:</ion-label>
    <ion-input readonly value={{modelInfo.email}}> </ion-input>
  </ion-item>

  <ion-item *ngIf="!(readOnly)">
    <ion-label color="primary" fixed>Email:</ion-label>
    <ion-input type="text" [(ngModel)]="modelInfo.email" name="email"> </ion-input>
  </ion-item>
  <!-- =============================================================== -->
  <ion-item *ngIf="readOnly">
    <ion-label color="primary" fixed>Domains:</ion-label>
    <ion-input readonly value={{modelInfo.domains}}> </ion-input>
  </ion-item>

  <ion-item *ngIf="!(readOnly)">
    <ion-label color="primary" fixed>Domains:</ion-label>
    <ion-input type="text" [(ngModel)]="modelInfo.domains" name="domains"> </ion-input>
  </ion-item>
  <!-- =============================================================== -->
  <ion-item *ngIf="readOnly">
    <ion-label color="primary" fixed>Language:</ion-label>
    <ion-select multiple="true" placeholder="unknown" disabled="{{!editMode()}}">
      <ion-option *ngFor="let language of languageList; let index=index;" selected="{{checkLanguage(index)}}">{{language}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="!(readOnly)">
    <ion-label color="primary" fixed>Language:</ion-label>
    <ion-select multiple="true" placeholder="unknown" item-content>
      <ion-option *ngFor="let language of languageList; let index=index;" selected="{{checkLanguage(index)}}" (ionSelect)="setLanguage(index)">{{language}}</ion-option>
    </ion-select>
  </ion-item>
  <!-- =============================================================== -->
  <ion-item *ngIf="readOnly">
    <ion-label color="primary" fixed>Platforms:</ion-label>
    <ion-select multiple="true" placeholder="unknown" item-content disabled="{{!editMode()}}">
      <ion-option *ngFor="let platform of platformList; let index=index;" selected="{{checkPlatform(index)}}">{{platform}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="!(readOnly)">
    <ion-label color="primary" fixed>Platforms:</ion-label>
    <ion-select multiple="true" placeholder="unknown" item-content>
      <ion-option *ngFor="let platform of platformList; let index=index;" selected="{{checkPlatform(index)}}" (ionSelect)="setPlatform(index)">{{platform}}</ion-option>
    </ion-select>
  </ion-item>
  <!-- =============================================================== -->
  <ion-item *ngIf="readOnly">
    <ion-label color="primary" fixed>License:</ion-label>
    <ion-select placeholder="unknown" item-content disabled="{{!editMode()}}">
      <ion-option *ngFor="let license of licenseList; let index=index;" selected="{{checkLicense(index)}}">{{license}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="!(readOnly)">
    <ion-label color="primary" fixed>License:</ion-label>
    <ion-select placeholder="unknown" item-content>
      <ion-option *ngFor="let license of licenseList; let index=index;" selected="{{checkLicense(index)}}" (ionSelect)="setLicense(index)">{{license}}</ion-option>
    </ion-select>
  </ion-item>
  <!-- =============================================================== -->
  <ion-item *ngIf="readOnly">
    <ion-label color="primary" fixed>Publisher:</ion-label>
    <ion-input readonly value={{modelInfo.publisher}}> </ion-input>
  </ion-item>

  <ion-item *ngIf="!(readOnly)">
    <ion-label color="primary" fixed>Publisher:</ion-label>
    <ion-input type="text" [(ngModel)]="modelInfo.publisher" name="publisher"> </ion-input>
  </ion-item>
  <!-- =============================================================== -->

  <!-- contenteditable="false" didn't work -->
  <!-- can't find options for "mode=" -->
  <!-- mode="readonly" didn't work -->
  <!-- disabled works, but turns text to gray -->
  <!-- readonly by itself works, as shown -->
  <!-- haven't found way to break "value" string without problems -->
  <ion-item *ngIf="readOnly">
    <ion-label color="primary" fixed>Purpose:</ion-label>
    <ion-textarea rows="6" readonly value={{modelInfo.purpose}}> </ion-textarea>
  </ion-item>

  <ion-item *ngIf="!(readOnly)">
    <ion-label color="primary" fixed>Purpose:</ion-label>
    <ion-textarea rows="6" [(ngModel)]="modelInfo.purpose" name="purpose"> </ion-textarea>
  </ion-item>
  <!-- =============================================================== -->
  <ion-item *ngIf="readOnly">
    <ion-label color="primary" fixed>Website:</ion-label>
    <ion-input readonly value={{modelInfo.website}}> </ion-input>
  </ion-item>

  <ion-item *ngIf="!(readOnly)">
    <ion-label color="primary" fixed>Website:</ion-label>
    <ion-input type="text" [(ngModel)]="modelInfo.website" name="website"> </ion-input>
  </ion-item>
  <!-- =============================================================== -->
  <ion-item *ngIf="readOnly">
    <ion-label color="primary" fixed>Code URL:</ion-label>
    <ion-input readonly value={{modelInfo.codeurl}}> </ion-input>
  </ion-item>

  <ion-item *ngIf="!(readOnly)">
    <ion-label color="primary" fixed>Code URL:</ion-label>
    <ion-input type="text" [(ngModel)]="modelInfo.codeurl" name="codeurl"> </ion-input>
  </ion-item>
  <!-- =============================================================== -->
  <ion-item *ngIf="readOnly">
    <ion-label color="primary" fixed>Grid type:</ion-label>
    <ion-select placeholder="unknown" item-content disabled="{{!editMode()}}">
      <ion-option *ngFor="let type of gridTypeList; let index=index;" selected="{{checkGridType(index)}}">{{type}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="!(readOnly)">
    <ion-label color="primary" fixed>Grid type:</ion-label>
    <ion-select placeholder="unknown" item-content>
      <ion-option *ngFor="let type of gridTypeList; let index=index;" selected="{{checkGridType(index)}}" (ionSelect)="setGridType(index)">{{type}}</ion-option>>
    </ion-select>
  </ion-item>
  <!-- =============================================================== -->
  <ion-item *ngIf="readOnly">
    <ion-label color="primary" fixed>Time steps:</ion-label>
    <ion-select placeholder="unknown" item-content disabled="{{!editMode()}}">
      <ion-option *ngFor="let option of timestepList; let index=index;" selected="{{checkTimesteps(index)}}">{{option}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="!(readOnly)">
    <ion-label color="primary" fixed>Time steps:</ion-label>
    <ion-select placeholder="unknown" item-content>
      <ion-option *ngFor="let option of timestepList; let index=index;" selected="{{checkTimesteps(index)}}" (ionSelect)="setTimesteps(index)">{{option}}</ion-option>
    </ion-select>
  </ion-item>
  <!-- =============================================================== -->
  <ion-item *ngIf="readOnly">
    <ion-label color="primary" fixed>Processing:</ion-label>
    <ion-select placeholder="unknown" item-content disabled="{{editMode()}}">
      <ion-option *ngFor="let option of processList; let index=index;" selected="{{checkProcessing(index)}}">{{option}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="!(readOnly)">
    <ion-label color="primary" fixed>Processing:</ion-label>
    <ion-select placeholder="unknown" item-content>
      <ion-option *ngFor="let option of processList; let index=index;" selected="{{checkProcessing(index)}}" (ionSelect)="setProcessing(index)">{{option}}</ion-option>
    </ion-select>
  </ion-item>
  <!-- =============================================================== -->
</ion-list>
<!-- </form> -->

</ion-content>


<ion-footer>

<ion-buttons *ngIf="readOnly">
  <button ion-button (click)="viewObjects()">Objects</button>
  <button ion-button (click)="viewAssumptions()">Assumptions</button>
  <button ion-button (click)="viewDomains()">Domains</button>
<!--
  <button ion-button (click)="viewObjects()">View Objects</button>
  <button ion-button (click)="viewAssumptions()">View Assumptions</button>
  <button ion-button (click)="viewDomains()">View Domains</button>
-->
  <!-- <button ion-button (click)="viewPeople()">Test</button> -->
</ion-buttons>
<!-- =============================================================== -->
<ion-buttons *ngIf="!(readOnly)">
  <button ion-button type="submit" (click)="saveNewModel( modelInfo )">Save</button>
  <button ion-button (click)="saveNewModel( nullModelInfo )">Cancel</button>
</ion-buttons>

</ion-footer>
